* {
  box-sizing: border-box;
}

body {
  background-color: #607D8B;
  font-family: sans-serif;
}

main {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 12px;
}

main a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: dodgerblue;
  font-family: sans-serif;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: top;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #9daca9;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding: 0 0.85rem;
  width: 48%;
  margin: 4px 2px;
  text-align: center;
}

main p {
  text-decoration: left;
  font-family: sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, .85);
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #FFF;
  background-color: #19B698;
  border-color: #0FAC8E;
}

.alert-info {
  color: #FFF;
  background-color: #4AA3DF;
  border-color: #4099D5;
}

.alert-danger {
  color: #FFF;
  background-color: #EA6153;
  border-color: #E05749;
}
